body {
  background-color: #112d3b;
}

#big_box {
  border-radius: 0px 0px 20px 20px;
  background-color: #9fbcc6;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items:center;
  text-align: center;
  max-width: 900px;

}

.btn {
  background-color: #396060;
  border-color: #99bcc6;
  margin-top: 2%;
}

h5 {
  font-family: "Avenir";
  font-size: 120%;
}

input {
  font-family: "Avenir";
  margin-bottom: 2%;
}

#left_col {
  float: left;
  margin-left: 2%;
  max-width: 375px;
  text-align: left;
}

#right_col {
  float: left;
  margin-left: 4%;
  margin-top: 3%;
}

#scan_word {
  max-width: 440px;
}

li, h3, h4, label, h2 {
    color: white;
    font-family: "avenir";

}

li {
    text-align: left;
}

label {
    font-size: 135%;
}

#remove {
    color: #ee1122;
}

#home_left_col {
    text-align: right;
    margin-top: 6%;
}

#begin_label {
    margin-bottom: 4%;
}

#home_header {
    text-align: left;
    margin-left: 3%;
}

#divider {
    font-size: 900%;
    position: static;
    color: #e0e0e0;
}

#home {
    margin-top: 4%;
    color: #d0e0e0;
}

#inner_box {
    margin-left: 8%;
    max-width: 900px;
}

#stylist_name {
    text-align: right;
    margin-right: 10%;
}
